{{> head }} <! partial>
<body>
  <div class="nav-wrapper">
    {{> navbar}}
  </div>
  <div class="container">
    {{{ body }}}
  </div>
  <div class="container">
    {{> footer }}
  </div>
</body>
</html>